USE [master]
GO
/****** Object:  Database [HRM]    Script Date: 26/01/2023 22:45:48 ******/
CREATE DATABASE [HRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRM]
GO
/****** Object:  User [admin]    Script Date: 26/01/2023 22:45:48 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [admin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[EMP_WORK_INFO]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_WORK_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[B_ID] [int] NULL,
	[RE_EMP_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[W_T_ID] [int] NULL,
	[P_ID] [int] NULL,
	[D_ID] [int] NULL,
	[D/OF_A] [date] NULL,
	[D/OF_C] [date] NULL,
	[D/OF_JOIN] [date] NULL,
	[NFC_NUMBER] [nvarchar](50) NULL,
 CONSTRAINT [PK_EMP_WORK_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_INFO]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_INFO](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[FRIST_NAME] [nvarchar](50) NULL,
	[NAME_SURENAME] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[MOBILE] [int] NULL,
	[NIC] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[BLOOD_ID] [int] NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[GENDER] [int] NULL,
	[CREATE_EMP_ID] [int] NULL,
	[EMP_CREATE_DATE] [date] NULL,
	[LANGUAGE] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NFC_NAME_VIEW]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NFC_NAME_VIEW]
AS
SELECT        dbo.EMP_INFO.NAME_SURENAME, dbo.EMP_WORK_INFO.NFC_NUMBER, dbo.EMP_WORK_INFO.EMP_ID, dbo.EMP_INFO.FRIST_NAME
FROM            dbo.EMP_INFO INNER JOIN
                         dbo.EMP_WORK_INFO ON dbo.EMP_INFO.EMP_ID = dbo.EMP_WORK_INFO.EMP_ID
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_NAME] [varchar](50) NULL,
	[D_ID] [int] NULL,
 CONSTRAINT [PK_POSITION] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTICE]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICE](
	[NO_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_ID] [int] NULL,
	[P_ID] [int] NULL,
	[EMP_ID] [int] NULL,
	[TO_DATE] [date] NULL,
	[FROM] [date] NULL,
	[N_TITEL] [nvarchar](100) NULL,
	[N_BODY] [nvarchar](500) NULL,
	[N_PUT_ID] [int] NULL,
	[N_FROM_ALL] [int] NULL,
	[PUT_P_ID] [int] NULL,
	[N_L_UPDATE_DATE] [date] NULL,
 CONSTRAINT [PK_NOTICE] PRIMARY KEY CLUSTERED 
(
	[NO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NOTICE_VIEW]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NOTICE_VIEW]
AS
SELECT        dbo.NOTICE.NO_ID, dbo.NOTICE.N_TITEL, dbo.POSITION.POSITION_NAME, dbo.EMP_INFO.NAME_SURENAME, dbo.NOTICE.D_ID, dbo.NOTICE.P_ID, dbo.NOTICE.EMP_ID, dbo.NOTICE.[FROM], dbo.NOTICE.N_BODY
FROM            dbo.NOTICE INNER JOIN
                         dbo.POSITION ON dbo.NOTICE.PUT_P_ID = dbo.POSITION.P_ID INNER JOIN
                         dbo.EMP_INFO ON dbo.NOTICE.N_PUT_ID = dbo.EMP_INFO.EMP_ID
GO
/****** Object:  Table [dbo].[ACCESS]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[MENU_A] [int] NULL,
	[MENU_B] [int] NULL,
	[MENU_C] [int] NULL,
	[MENU_D] [int] NULL,
 CONSTRAINT [PK_ACCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [int] NULL,
	[DATE] [date] NULL,
	[IN_TIME] [datetime] NULL,
	[OUT_TIME] [datetime] NULL,
 CONSTRAINT [PK_ATTENDANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_NAME]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_NAME](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[B_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_BANK_NAME] PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOOD_GROUP]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOOD_GROUP](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[BLOOD_NAME] [varchar](10) NULL,
 CONSTRAINT [PK_BLOOD_GROUP] PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCH_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DEP_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP_TO_DO_LIST]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_TO_DO_LIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NOT NULL,
	[NOTE] [nvarchar](250) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_EMP_TO_DO_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[G_ID] [int] IDENTITY(1,1) NOT NULL,
	[GENDER] [varchar](10) NULL,
 CONSTRAINT [PK_GENDER] PRIMARY KEY CLUSTERED 
(
	[G_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[L_ID] [int] IDENTITY(1,1) NOT NULL,
	[LANGUAGE] [varchar](50) NULL,
 CONSTRAINT [PK_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[L_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAST_UPDATE_T]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAST_UPDATE_T](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QUANTITY] [int] NULL,
	[DATE] [date] NULL,
	[EMP_ID] [int] NULL,
 CONSTRAINT [PK_LAST_UPDATE_T] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASS]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[USER_NAME] [nvarchar](100) NULL,
	[PASS] [nvarchar](150) NULL,
	[LOG_IN_OUT] [int] NULL,
	[LOCK1] [int] NULL,
	[LOCK2] [int] NULL,
	[CREAT_EMP_ID] [int] NULL,
	[CREAT_DATE] [date] NULL,
	[BRANCH_ID] [int] NULL,
	[Path] [nvarchar](100) NULL,
	[LAST_L_DATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_PASS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE_T_SHIRT]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE_T_SHIRT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[DATE] [date] NULL,
	[B_ID] [int] NULL,
	[RESIPT_NO] [nvarchar](50) NULL,
	[STATES] [int] NULL,
	[QUANTITY] [int] NULL,
	[ODER_ID] [int] NULL,
	[T_S_N_ID] [int] NULL,
	[T_S_SIZE_ID] [int] NULL,
 CONSTRAINT [PK_SALE_T_SHART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [varchar](15) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SHIRT_NAME]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SHIRT_NAME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[T_NAME] [nvarchar](50) NULL,
	[PRICE] [money] NULL,
 CONSTRAINT [PK_T_SHART_NAME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SHIRT_SIZE]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SHIRT_SIZE](
	[SIZE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZE_NAME] [nvarchar](50) NULL,
	[LENGTH] [decimal](18, 0) NULL,
	[WIDTH] [decimal](18, 0) NULL,
 CONSTRAINT [PK_T_SHART_SIZE] PRIMARY KEY CLUSTERED 
(
	[SIZE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SHIRT_STATES]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SHIRT_STATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[T_STATES] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_SHIRT_STATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SHIRT_STOCK]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SHIRT_STOCK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[T_S_N_ID] [int] NULL,
	[T_S_SIZE_ID] [int] NULL,
	[T_STOCK_QUANTITY] [int] NULL,
 CONSTRAINT [PK_T_SHART_STOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEST] [varchar](50) NULL,
	[DATE] [date] NULL,
	[OUT_DATE] [date] NULL,
	[SEARCH] [nvarchar](1) NULL,
	[SEARCH_2] [nvarchar](50) NULL,
 CONSTRAINT [PK_TEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEST_2]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEST] [nvarchar](50) NULL,
 CONSTRAINT [PK_TEST_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TO_DO_LIST_STATES]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TO_DO_LIST_STATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TO_LIST_Proccess] [nvarchar](50) NULL,
 CONSTRAINT [PK_TO_DO_LIST_STATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORK_TYPE]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORK_TYPE](
	[W_ID] [int] IDENTITY(1,1) NOT NULL,
	[W_NAME] [varchar](20) NOT NULL,
 CONSTRAINT [PK_WORK_TYPE] PRIMARY KEY CLUSTERED 
(
	[W_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCESS] ON 

INSERT [dbo].[ACCESS] ([ID], [EMP_ID], [MENU_A], [MENU_B], [MENU_C], [MENU_D]) VALUES (3027, 2, 1, 1, 1, 2)
INSERT [dbo].[ACCESS] ([ID], [EMP_ID], [MENU_A], [MENU_B], [MENU_C], [MENU_D]) VALUES (4030, 2002, 1, 1, 2, 1)
INSERT [dbo].[ACCESS] ([ID], [EMP_ID], [MENU_A], [MENU_B], [MENU_C], [MENU_D]) VALUES (4031, 1, 1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[ACCESS] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([ID], [CODE], [DATE], [IN_TIME], [OUT_TIME]) VALUES (1013, 1, CAST(N'2022-10-14' AS Date), CAST(N'2022-10-14T01:20:41.000' AS DateTime), CAST(N'2022-10-14T01:30:17.000' AS DateTime))
INSERT [dbo].[ATTENDANCE] ([ID], [CODE], [DATE], [IN_TIME], [OUT_TIME]) VALUES (1014, 1002, CAST(N'2022-10-14' AS Date), CAST(N'2022-10-14T01:20:57.000' AS DateTime), CAST(N'2022-10-14T01:21:34.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[BLOOD_GROUP] ON 

INSERT [dbo].[BLOOD_GROUP] ([B_ID], [BLOOD_NAME]) VALUES (1, N'O-')
INSERT [dbo].[BLOOD_GROUP] ([B_ID], [BLOOD_NAME]) VALUES (2, N'O+')
INSERT [dbo].[BLOOD_GROUP] ([B_ID], [BLOOD_NAME]) VALUES (3, N'A-')
SET IDENTITY_INSERT [dbo].[BLOOD_GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[BRANCH] ON 

INSERT [dbo].[BRANCH] ([B_ID], [BRANCH_NAME]) VALUES (1, N'KURUNAGALA')
SET IDENTITY_INSERT [dbo].[BRANCH] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([ID], [DEP_NAME]) VALUES (1, N'IT')
INSERT [dbo].[DEPARTMENT] ([ID], [DEP_NAME]) VALUES (2, N'HR')
INSERT [dbo].[DEPARTMENT] ([ID], [DEP_NAME]) VALUES (3, N'Finance')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMP_INFO] ON 

INSERT [dbo].[EMP_INFO] ([EMP_ID], [FRIST_NAME], [NAME_SURENAME], [DOB], [MOBILE], [NIC], [EMAIL], [BLOOD_ID], [ADDRESS], [GENDER], [CREATE_EMP_ID], [EMP_CREATE_DATE], [LANGUAGE], [STATUS]) VALUES (1, N'miyuranga', N'E.D.M Ananda', CAST(N'2000-09-23' AS Date), 760743232, N'200026704268', N'miuranga@gmail.com', 1, N'sirangoda/Ku', 1, 1, CAST(N'2022-09-23' AS Date), 1, 1)
INSERT [dbo].[EMP_INFO] ([EMP_ID], [FRIST_NAME], [NAME_SURENAME], [DOB], [MOBILE], [NIC], [EMAIL], [BLOOD_ID], [ADDRESS], [GENDER], [CREATE_EMP_ID], [EMP_CREATE_DATE], [LANGUAGE], [STATUS]) VALUES (2, N'Miyuranga', N'ananda', CAST(N'2022-09-23' AS Date), 888888, N'200026704268', N'hjk', 2, N'sirangodat', 2, NULL, CAST(N'2022-09-23' AS Date), 2, 2)
INSERT [dbo].[EMP_INFO] ([EMP_ID], [FRIST_NAME], [NAME_SURENAME], [DOB], [MOBILE], [NIC], [EMAIL], [BLOOD_ID], [ADDRESS], [GENDER], [CREATE_EMP_ID], [EMP_CREATE_DATE], [LANGUAGE], [STATUS]) VALUES (5, N'Dananjaya', N'E D S ANANDA', CAST(N'2022-09-23' AS Date), 760743232, N'200026704268', N'DANA@GMAIL.COM', 2, N'SIRANGODA', 1, 1, CAST(N'2022-09-25' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[EMP_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[EMP_TO_DO_LIST] ON 

INSERT [dbo].[EMP_TO_DO_LIST] ([ID], [EMP_ID], [NOTE], [START_DATE], [END_DATE], [STATUS]) VALUES (1, 1, N'Project Perposal done', CAST(N'2022-12-13T04:16:16.080' AS DateTime), CAST(N'2022-12-24' AS Date), 2)
INSERT [dbo].[EMP_TO_DO_LIST] ([ID], [EMP_ID], [NOTE], [START_DATE], [END_DATE], [STATUS]) VALUES (2, 1, N'Api 12 wenida trip ekata badu hadaganna one ikmanta', CAST(N'2022-12-13T04:18:16.170' AS DateTime), CAST(N'2022-12-14' AS Date), 2)
INSERT [dbo].[EMP_TO_DO_LIST] ([ID], [EMP_ID], [NOTE], [START_DATE], [END_DATE], [STATUS]) VALUES (3, 1, N'Test', CAST(N'2022-12-13T04:59:06.957' AS DateTime), CAST(N'2022-12-13' AS Date), 3)
SET IDENTITY_INSERT [dbo].[EMP_TO_DO_LIST] OFF
GO
SET IDENTITY_INSERT [dbo].[EMP_WORK_INFO] ON 

INSERT [dbo].[EMP_WORK_INFO] ([ID], [EMP_ID], [B_ID], [RE_EMP_ID], [DESCRIPTION], [W_T_ID], [P_ID], [D_ID], [D/OF_A], [D/OF_C], [D/OF_JOIN], [NFC_NUMBER]) VALUES (1, 1006, 1, 5, N'Test', 3, 1, 3, CAST(N'2022-10-09' AS Date), CAST(N'2022-10-09' AS Date), CAST(N'2022-10-09' AS Date), NULL)
INSERT [dbo].[EMP_WORK_INFO] ([ID], [EMP_ID], [B_ID], [RE_EMP_ID], [DESCRIPTION], [W_T_ID], [P_ID], [D_ID], [D/OF_A], [D/OF_C], [D/OF_JOIN], [NFC_NUMBER]) VALUES (2, 1003, 1, 5, N'NEW ', 1, 2, 1, CAST(N'2022-10-10' AS Date), CAST(N'2022-10-10' AS Date), CAST(N'2022-10-10' AS Date), NULL)
INSERT [dbo].[EMP_WORK_INFO] ([ID], [EMP_ID], [B_ID], [RE_EMP_ID], [DESCRIPTION], [W_T_ID], [P_ID], [D_ID], [D/OF_A], [D/OF_C], [D/OF_JOIN], [NFC_NUMBER]) VALUES (3, 1007, 1, 1003, N'Suranga', 1, 5, 3, CAST(N'2022-10-10' AS Date), CAST(N'2022-10-10' AS Date), CAST(N'2022-10-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[EMP_WORK_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[GENDER] ON 

INSERT [dbo].[GENDER] ([G_ID], [GENDER]) VALUES (1, N'Male')
INSERT [dbo].[GENDER] ([G_ID], [GENDER]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[GENDER] OFF
GO
SET IDENTITY_INSERT [dbo].[LANGUAGE] ON 

INSERT [dbo].[LANGUAGE] ([L_ID], [LANGUAGE]) VALUES (1, N'Sinhala')
INSERT [dbo].[LANGUAGE] ([L_ID], [LANGUAGE]) VALUES (2, N'English')
INSERT [dbo].[LANGUAGE] ([L_ID], [LANGUAGE]) VALUES (3, N'Tamil')
SET IDENTITY_INSERT [dbo].[LANGUAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTICE] ON 

INSERT [dbo].[NOTICE] ([NO_ID], [D_ID], [P_ID], [EMP_ID], [TO_DATE], [FROM], [N_TITEL], [N_BODY], [N_PUT_ID], [N_FROM_ALL], [PUT_P_ID], [N_L_UPDATE_DATE]) VALUES (1008, 3, 0, 2, CAST(N'2022-10-15' AS Date), CAST(N'2022-10-15' AS Date), N'Finance Check Notice', N'Check Notice', 1003, NULL, 2, NULL)
INSERT [dbo].[NOTICE] ([NO_ID], [D_ID], [P_ID], [EMP_ID], [TO_DATE], [FROM], [N_TITEL], [N_BODY], [N_PUT_ID], [N_FROM_ALL], [PUT_P_ID], [N_L_UPDATE_DATE]) VALUES (1009, 0, 0, 1, CAST(N'2022-10-15' AS Date), CAST(N'2022-10-15' AS Date), N'Plese Sent The PDF File', N'Miyuranga heta wenakota pdf eka mt danna', 1, NULL, 1, NULL)
INSERT [dbo].[NOTICE] ([NO_ID], [D_ID], [P_ID], [EMP_ID], [TO_DATE], [FROM], [N_TITEL], [N_BODY], [N_PUT_ID], [N_FROM_ALL], [PUT_P_ID], [N_L_UPDATE_DATE]) VALUES (1010, 1, 1, 1, CAST(N'2022-10-15' AS Date), CAST(N'2022-10-15' AS Date), N'2nd test notification', N'Sets', 1, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[NOTICE] OFF
GO
SET IDENTITY_INSERT [dbo].[PASS] ON 

INSERT [dbo].[PASS] ([ID], [EMP_ID], [USER_NAME], [PASS], [LOG_IN_OUT], [LOCK1], [LOCK2], [CREAT_EMP_ID], [CREAT_DATE], [BRANCH_ID], [Path], [LAST_L_DATE_TIME]) VALUES (2, 1, N'E.D.M Ananda', N'186613449193171929323732240721716816033175182253', 1, 1, 1, 1, CAST(N'2022-09-24' AS Date), 1, N'assets/img/profile-img.jpg', CAST(N'2023-01-23T19:29:44.000' AS DateTime))
INSERT [dbo].[PASS] ([ID], [EMP_ID], [USER_NAME], [PASS], [LOG_IN_OUT], [LOCK1], [LOCK2], [CREAT_EMP_ID], [CREAT_DATE], [BRANCH_ID], [Path], [LAST_L_DATE_TIME]) VALUES (3, 2, N'ananda', N'186613449193171929323732240721716816033175182253', 1, 1, 1, 1, CAST(N'2022-09-25' AS Date), 1, N'assets/img/profile-img.jpg', NULL)
INSERT [dbo].[PASS] ([ID], [EMP_ID], [USER_NAME], [PASS], [LOG_IN_OUT], [LOCK1], [LOCK2], [CREAT_EMP_ID], [CREAT_DATE], [BRANCH_ID], [Path], [LAST_L_DATE_TIME]) VALUES (4, 5, N'E D S ANANDA', N'14912420491154222441757225577251101910624524846151', 1, 1, 1, 1, CAST(N'2022-09-25' AS Date), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PASS] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([P_ID], [POSITION_NAME], [D_ID]) VALUES (1, N'Excective', 2)
INSERT [dbo].[POSITION] ([P_ID], [POSITION_NAME], [D_ID]) VALUES (2, N'Juniyar-Excecrive', 3)
INSERT [dbo].[POSITION] ([P_ID], [POSITION_NAME], [D_ID]) VALUES (5, N'Manager', 1)
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
SET IDENTITY_INSERT [dbo].[SALE_T_SHIRT] ON 

INSERT [dbo].[SALE_T_SHIRT] ([ID], [EMP_ID], [DATE], [B_ID], [RESIPT_NO], [STATES], [QUANTITY], [ODER_ID], [T_S_N_ID], [T_S_SIZE_ID]) VALUES (1, 1, CAST(N'2022-11-02' AS Date), 1, N'213222', 2, 1, 1, 1, 1)
INSERT [dbo].[SALE_T_SHIRT] ([ID], [EMP_ID], [DATE], [B_ID], [RESIPT_NO], [STATES], [QUANTITY], [ODER_ID], [T_S_N_ID], [T_S_SIZE_ID]) VALUES (2, 2, CAST(N'2022-11-02' AS Date), 1, N'23332333', 2, 1, 1, 1, 1)
INSERT [dbo].[SALE_T_SHIRT] ([ID], [EMP_ID], [DATE], [B_ID], [RESIPT_NO], [STATES], [QUANTITY], [ODER_ID], [T_S_N_ID], [T_S_SIZE_ID]) VALUES (3, 1, CAST(N'2022-11-02' AS Date), 1, N'8768686', 2, 7, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[SALE_T_SHIRT] OFF
GO
SET IDENTITY_INSERT [dbo].[STATUS] ON 

INSERT [dbo].[STATUS] ([ID], [STATUS]) VALUES (1, N'Singal')
INSERT [dbo].[STATUS] ([ID], [STATUS]) VALUES (2, N'Married')
SET IDENTITY_INSERT [dbo].[STATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SHIRT_NAME] ON 

INSERT [dbo].[T_SHIRT_NAME] ([ID], [T_NAME], [PRICE]) VALUES (1, N'White Color', 850.0000)
INSERT [dbo].[T_SHIRT_NAME] ([ID], [T_NAME], [PRICE]) VALUES (2, N'Black Color', 850.0000)
INSERT [dbo].[T_SHIRT_NAME] ([ID], [T_NAME], [PRICE]) VALUES (3, N'Red Color', 850.0000)
SET IDENTITY_INSERT [dbo].[T_SHIRT_NAME] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SHIRT_SIZE] ON 

INSERT [dbo].[T_SHIRT_SIZE] ([SIZE_ID], [SIZE_NAME], [LENGTH], [WIDTH]) VALUES (1, N'S', CAST(29 AS Decimal(18, 0)), CAST(18 AS Decimal(18, 0)))
INSERT [dbo].[T_SHIRT_SIZE] ([SIZE_ID], [SIZE_NAME], [LENGTH], [WIDTH]) VALUES (2, N'M', CAST(30 AS Decimal(18, 0)), CAST(20 AS Decimal(18, 0)))
INSERT [dbo].[T_SHIRT_SIZE] ([SIZE_ID], [SIZE_NAME], [LENGTH], [WIDTH]) VALUES (3, N'L', CAST(31 AS Decimal(18, 0)), CAST(22 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[T_SHIRT_SIZE] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SHIRT_STATES] ON 

INSERT [dbo].[T_SHIRT_STATES] ([ID], [T_STATES]) VALUES (1, N'PENDING')
INSERT [dbo].[T_SHIRT_STATES] ([ID], [T_STATES]) VALUES (2, N'COMPLIT')
INSERT [dbo].[T_SHIRT_STATES] ([ID], [T_STATES]) VALUES (3, N'CANCEL')
SET IDENTITY_INSERT [dbo].[T_SHIRT_STATES] OFF
GO
SET IDENTITY_INSERT [dbo].[T_SHIRT_STOCK] ON 

INSERT [dbo].[T_SHIRT_STOCK] ([ID], [T_S_N_ID], [T_S_SIZE_ID], [T_STOCK_QUANTITY]) VALUES (1, 1, 1, 21)
INSERT [dbo].[T_SHIRT_STOCK] ([ID], [T_S_N_ID], [T_S_SIZE_ID], [T_STOCK_QUANTITY]) VALUES (2, 2, 3, 1)
INSERT [dbo].[T_SHIRT_STOCK] ([ID], [T_S_N_ID], [T_S_SIZE_ID], [T_STOCK_QUANTITY]) VALUES (3, 2, 7, 16)
SET IDENTITY_INSERT [dbo].[T_SHIRT_STOCK] OFF
GO
SET IDENTITY_INSERT [dbo].[TEST] ON 

INSERT [dbo].[TEST] ([ID], [TEST], [DATE], [OUT_DATE], [SEARCH], [SEARCH_2]) VALUES (1, N'TEST', NULL, NULL, NULL, N'91082C1B')
INSERT [dbo].[TEST] ([ID], [TEST], [DATE], [OUT_DATE], [SEARCH], [SEARCH_2]) VALUES (2, N'TEST', NULL, NULL, NULL, NULL)
INSERT [dbo].[TEST] ([ID], [TEST], [DATE], [OUT_DATE], [SEARCH], [SEARCH_2]) VALUES (3, N'test2', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TEST] OFF
GO
SET IDENTITY_INSERT [dbo].[TO_DO_LIST_STATES] ON 

INSERT [dbo].[TO_DO_LIST_STATES] ([ID], [TO_LIST_Proccess]) VALUES (1, N'Wating')
INSERT [dbo].[TO_DO_LIST_STATES] ([ID], [TO_LIST_Proccess]) VALUES (2, N'Complite')
INSERT [dbo].[TO_DO_LIST_STATES] ([ID], [TO_LIST_Proccess]) VALUES (3, N'Not Complite')
SET IDENTITY_INSERT [dbo].[TO_DO_LIST_STATES] OFF
GO
SET IDENTITY_INSERT [dbo].[WORK_TYPE] ON 

INSERT [dbo].[WORK_TYPE] ([W_ID], [W_NAME]) VALUES (1, N'Full-Time')
INSERT [dbo].[WORK_TYPE] ([W_ID], [W_NAME]) VALUES (2, N'Part-Time')
INSERT [dbo].[WORK_TYPE] ([W_ID], [W_NAME]) VALUES (3, N'Casual')
SET IDENTITY_INSERT [dbo].[WORK_TYPE] OFF
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [FK_NOTICE_POSITION] FOREIGN KEY([PUT_P_ID])
REFERENCES [dbo].[POSITION] ([P_ID])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [FK_NOTICE_POSITION]
GO
/****** Object:  StoredProcedure [dbo].[Web_Login]    Script Date: 26/01/2023 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Web_Login]
@Emp_ID NVARCHAR(100),
@Pass NVARCHAR(150),
@Isvalid BIT OUT
AS
BEGIN
SET @Isvalid = (SELECT COUNT(1) FROM PASS WHERE EMP_ID = @Emp_ID AND PASS=@Pass)
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "EMP_INFO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 230
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "EMP_WORK_INFO"
            Begin Extent = 
               Top = 6
               Left = 268
               Bottom = 136
               Right = 438
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2415
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NFC_NAME_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NFC_NAME_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "NOTICE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 293
               Right = 228
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "POSITION"
            Begin Extent = 
               Top = 6
               Left = 266
               Bottom = 119
               Right = 446
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EMP_INFO"
            Begin Extent = 
               Top = 6
               Left = 484
               Bottom = 136
               Right = 676
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 2040
         Width = 3075
         Width = 3540
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NOTICE_VIEW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'NOTICE_VIEW'
GO
USE [master]
GO
